<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %>
    <% include partials/template/jsdefaults.ejs %>    
</head>
<body id="page-top" class="index">
<% include partials/template/header.ejs %>
<% include partials/content/showresult.ejs %>   
<% include partials/template/footer.ejs %>   
</body>

</html>
