<br><br><br>

 <!-- About Section -->
    <section class="success" id="navtabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   
                    <!-- <h3>About</h3> -->
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <hr>
                    <h4>How to search</h4>
                    <p>This site is for testing purpose, to search type in the keyword box such as "RaM", "2018","Ford", "Chassis", "TRANSIT" etc.</p>
                    <p>The slider function has not been implemented yet.</p>
                </div>
                <div class="col-lg-5">
                    <hr>
                    <h4>Data</h4>
               
                    <p>Dataset sample is only available for Truck</p>
                </div>
             
            </div>
        </div>
    </section>