    <!-- Search -->
    
<br><br><br><br><br><br>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-4">
                    <div style="padding: 10px;">
                        <ul class="nav nav-pills">
                            <li><a href="#">Motorcycle</a></li>
                            <li class="active"><a href="#">Truck</a></li>
                            <li><a href="#">Equipment</a></li>
                            <li><a href="#">RV</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <br><br>
    