    <!-- Search -->
    <header>

        <div class="container">
            <div class="row">
                
                
                <div class="col-lg-6 col-lg-offset-3">
                    
                        <form action="results" method="GET">
                       
                        <div class="input-group">
                             <input class="form-control input" id="mainsearch" type="text" name="keyword" placeholder="keyword">
                                
                                 <input  type="hidden" id="selectedtype" name="selectedtype">

                                <span class="input-group-btn">
                                    <button id="checknow" type="submit" class="btn btn-success">Search <i class="icon-double-angle-right"></i></button>
                                </span>
                        </div>
                        </form>

    


                </div>
            </div>
        </div>
    </header>