    <!-- Search -->
    <header>
      <br><br><br><br>
        
    
        <div class="container">
            <div class="row">

                <% if (!checkinput) { %>
                      <div class="col-lg-8 col-lg-offset-2">
                          <h4>Please have a keyword1.</h4>
                      </div>
                <% } else { %> 

                      <% if (rawdata.length==0) { %> 

                        <div class="col-lg-8 col-lg-offset-2">
                          <h4>No result.</h4>
                      </div>

                      <% } else { %> 

              
        

                      <% } %> 

                  <% } %> 
              
            </div>
        </div>
        </div>
    <br><br><br><br><br><br><br>
    </header>