
<br><br>

    <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-4">
                        <i class="fa fa-usd" aria-hidden="true"></i><b>1,000</b> <input id="ex2" type="text" value="" data-slider-min="1000" data-slider-max="100000" data-slider-step="1000" data-slider-value="[20000,60000]"/> <b> <i class="fa fa-usd" aria-hidden="true"></i>100,000</b>
                </div>
            </div>
        </div>